
/* The below ones applies to all */

* {
  background-color: #ecebe4;
}

/* Container is the main container background for all the elements */

/* Please note this one I'm trying for my learings too that I can
make the box which holds all the elements with in it */

.container-1  {
  background-color: #daddd8;
  margin: 20px;
  padding: 20px;

}

/* The heading content goes here */

.h1 {
  color: #1c1c1c;
  background-color: #daddd8;
  font-family: Helvetica, sans-serif;
  margin: 60px;
  padding: 10px;
  height: 20px;
  width: 85%;
}

/* paragraph contents goes here */

.p1, .ul1 {
  color:#1c1c1c;
  background-color: #daddd8;
  font-family: Helvetica, sans-serif;
  margin: 60px;
  padding: 10px;

}

/* unordered list starts from here */

.li1 {
  color:#1c1c1c;
  background-color: #daddd8;
  font-family: Helvetica, sans-serif;
}
